html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
}

.btn, .btn span {
  border-radius: 4px;
  font-size: 3em;
  cursor: pointer;
}

.options span {
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 20px;
  background: #222;
  color: white;
}


.select-time-per .btn {
  height: 80px;
  line-height: 80px;
  color: white;
  vertical-align: middle;
}

#timer-setting .btn {
  width: 200px;
}

#time-per {
  color: black;
  cursor: default;
  margin-left: 80px;
  display: inline-block;
  font-size: 144px;
  line-height: 200px;
  vertical-align: middle;
  height: 200px;
  text-align: center;
}

.next {
  background: green;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
  padding: 5px;
}
.up, .down {
  background: #222;
  margin: 0px auto;

}
.set-colors .player-color-container > .player-color {
  color: white;
  height: 100%;
  width: 20%;
  border-radius: 4px;
  font-size: 3em;
  cursor:pointer;
  display: inline-block;
  margin: 0 auto;
  line-height: 100px;
  vertical-align: middle;
}

.player-color-container {
  text-align: center;
  height: 100px;
  margin: 10px 0px;
  width: 100%;
  vertical-align: middle;
  line-height: 100px;
}

.start {
  padding: 18px;
  height: 60px;
  width: 200px;
  color: white;
  background: #222;
  margin: 60px auto 0 auto;
}

.start [disabled=disabled] {
  background: #ddd;
  cursor: not-allowed;
}

.pause {
  color: white;
  background: #222;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
}

.main-btn {
  color: white;
  font-size: 3em;
  border-radius: 50%;
  height: 100%;
  max-height: 600px;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

#time {
  margin-top: 160px;
  margin-bottom: 0px;
  font-size: 3.5em;
}
.centered {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.red {
  background: #E10000;
}
.yellow {
  background: #E1A400;
}
.blue {
  background: #0F1D9C;
}
.green {
  background: #00B400;
}
.brown {
  background: #663300;
}
.orange {
  background: #D26500;
}

.dup-color-x {
  color: red;
}

.dup-color > span {
  position: relative;
  left: 35%;
  display: block;
  float: left;
}
.btn, .no-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
